body{
    padding: 0;
    margin: 0;
}

.header{
    background-color: rgba(62, 70, 145, 0.8);
    height: 5rem;
    
}
.header-text{
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;    
}
hr.header-divider {
    border: 1px solid yellow;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.department-text{
    font-size: 1rem;
}
.sub-header{
    background-color: rgba(2, 29, 88, 0.9);
    height: 5.3rem;
    
}
.sub-header-text{
    color: white;
    padding-top: 1.0rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: left; 
}

div.header-text a:link{
    color: white;
}

div.header-text a:hover{
    color: tomato; 
    text-decoration: none;   
}

div.header-text a:visited{
    color: white;    
}

div.sub-header-text a:link{
    color: white;
}
div.sub-header-text a:hover{
    color: tomato;
    text-decoration: none;
}
div.sub-header-text a:visited{
    color: white;    
}

.navbar-bg-dark{
    background: rgba(46, 43, 43, 0.7);
    
}
div.site-navbar a:hover{
    background: yellow;
    color: rgb(32, 32, 212);
    
}
li.nav-item.dropdown a:link{
    color: white;
    text-decoration: underline;
    
}
.carousel-image{
    max-width: 100%;
    height: fit-content;
    background-size: contain;
    opacity: 0.85;
}

.carousel-container{
    max-width: 100%;
    height: 20rem;
}

.registration{
    height: 10vh;
    background: yellow;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: larger;
}

.carousel-caption-location{
    position: absolute;
    top: 50%;
    left: 15%;
}

.my-yellow-button{
    background: yellow;
    color: blue;
    padding: 0.5rem 0.5rem;
    font-weight: 800;
    font-size: 1.2rem;
}

.section-undergrad{
    
    background-image: url("/images/background-section-undergrad.jpg");
    padding: 3vh 3vw;
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
}

.sub-nav-undergrad{
    background-image: url("/images/carousel/bg-img-for-undergrad.jpg");
    padding: 1vh 1vw;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}

.footer{
    background: rgba(54, 56, 170, 0.85);
    color: whitesmoke;
    padding: 1rem;
}

.image-people{
    width: 5rem;
    height: 5rem;
}

.image-people-display{
    max-width: 100%;
    max-height: 100%;
}

.footer a{
    color: whitesmoke;
    text-decoration: none;
}

.footer-divider{
    border: 2px solid yellow;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px;
}